<footer>
    <hr>
    <div>
        <p class="text-center"><a href="#" class="link-secondary">About</a> | <a href="https://www.generateprivacypolicy.com/live.php?token=SFzC3T4IWoxDeLTtkFoKdgmaaFiMI5Eq" class="link-secondary" target="_blank">Cookie Policy</a></p>
        <br>
        <p class="text-muted text-center fw-light fs-5">This project is under <a href="">MIT LICENSE</a> - berkegokmen1</p>
    </div>
</footer>