<%- include('./partials/_header.ejs') %>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %> 
    <div class="container">
        <div class="card">
            <h5 class="card-header">Change Password</h5>
            <%- include('./partials/_errors.ejs') %>
            <div class="card-body">
                <form action="/password" method="POST">
                    <div class="form-group">
                        <label for="oldpass">Old Password</label>
                        <input type="password" name="oldpass" id="oldpass" class="form-control" placeholder="Old Password">
                    </div>
                    <div class="form-group">
                        <label for="newpass">New Password</label>
                        <input type="password" name="newpass" id="newpass" class="form-control" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="newpass2">New Password Again</label>
                        <input type="password" name="newpass2" id="newpass2" class="form-control" placeholder="Password Again">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block my-2">Change Password</button>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/js/script-client.js"></script>
</body>
</html>